 <div class="row row-tabbable">
     <div class="col-lg-12" id="ch-mode">
         <div class="row tabbable-top">
             <div class="col-lg-12">
                 <div class="tabbable">
                     <ul class="nav nav-tabs padding-16">
                         <li class="active">
                             <a data-toggle="tab" href="#charge-tab">
                                 Charge Totale
                             </a>
                         </li>

                         <li>
                             <a data-toggle="tab" href="#enseignement-tab">
                                 Enseignement
                             </a>
                         </li>
                         <li>
                             <a data-toggle="tab" href="#encadrement-tab">
                                 Encadrement
                             </a>
                         </li>
                         <li>
                             <a data-toggle="tab" href="#charge-divers">
                                 Autres Charges
                             </a>
                         </li>
                     </ul>

                     <div class="tab-content profile-edit-tab-content " style="margin-bottom: 20px;" id="group-panels">
                         <div id="charge-tab" class="tab-pane in active" style="margin-top: 35px;">
                             <div class="row">
                                 <div class="col-lg-12">
                                     <div class="col-md-4" style="padding-left: 0px;">
                                         <h4 class="title">Charge Totale sur l'année</h4>
                                     </div>
                                     <div class="col-md-3 col-lg-offset-5 text-right" style="padding-right: 0px;">
                                         <h4 class="title">Etat : <span id="etat-charge" class="text-danger"></span>
                                         </h4>
                                     </div>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-12">
                                     <table class="table info-table table-striped table-bordered"
                                         style="width:100%; margin-bottom:0px;">
                                         <thead>
                                             <tr>
                                                 <th>Période</th>
                                                 <th>Cours</th>
                                                 <th>TD</th>
                                                 <th>TP</th>
                                             </tr>
                                         </thead>
                                         <tbody id="charge-calculee">
                                             <tr class="row-color">
                                                 <td>Semestre 1</td>
                                                 <td></td>
                                                 <td></td>
                                                 <td></td>
                                             </tr>
                                             <tr class="row-color">
                                                 <td>Semestre 2</td>
                                                 <td></td>
                                                 <td></td>
                                                 <td></td>
                                             </tr>
                                             <tr class="row-color">
                                                 <td>année</td>
                                                 <td></td>
                                                 <td></td>
                                                 <td></td>
                                             </tr>
                                             <tr class="row-color">
                                                 <td>Heure D'Enseignement Supplémentaire</td>
                                                 <td></td>
                                                 <td></td>
                                                 <td></td>
                                             </tr>
                                         </tbody>
                                     </table>

                                     <div class="col-lg-12 text-right" style="padding-right: 0px;">
                                         <button class="btn b-button btn-sm btn-bottom">
                                             <i class="fa fa-print fa-x"></i>
                                         </button>
                                     </div>
                                 </div>
                             </div>

                             <div class="row">

                                 <div class="vspace-12-sm"></div>

                                 <div class="col-xs-12 col-sm-8">
                                     <div class="space-4"></div>
                                 </div>
                             </div>
                         </div>

                         <div id="enseignement-tab" class="tab-pane">
                             <div class="row">
                                 <div class="col-lg-12 text-right">
                                     <button class="btn b-button btn-sm btn-bottom"
                                         onclick="CreateEditChargeEParModule(-1)">
                                         <i class="fa fa-plus fa-x"></i>
                                     </button>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-12">
                                     <table class="table info-table table-striped table-bordered" style="width:100%">
                                         <thead>
                                             <tr>
                                                 <th>Module</th>
                                                 <th>Niveau</th>
                                                 <th>Période</th>
                                                 <th>UVolume</th>
                                                 <th>TypeE</th>
                                                 <th>NbGroupe</th>
                                                 <th>VolumeG </th>
                                                 <th>Actions</th>
                                             </tr>
                                         </thead>
                                         <tbody id="enseignement-tab-tbody">

                                         </tbody>
                                     </table>
                                 </div>
                             </div>
                         </div>

                         <div id="encadrement-tab" class="tab-pane">
                             <div class="row">
                                 <div class="col-lg-12 text-right">
                                     <button class="btn b-button btn-sm btn-bottom" onclick="createEditEncadrement(-1)">
                                         <i class="fa fa-plus fa-x"></i>
                                     </button>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-12 tab-scroll">
                                     <table class="table info-table table-striped table-bordered" style="width:100%">
                                         <thead>
                                             <tr>
                                                 <th>Libellé</th>
                                                 <th>Cycle</th>
                                                 <th>Nature Charge</th>
                                                 <th>Volume</th>
                                                 <th>Période</th>
                                                 <th>NombreE</th>
                                                 <th>Actions</th>
                                             </tr>
                                         </thead>
                                         <tbody id="encadrement-tab-tbody">

                                         </tbody>
                                     </table>
                                 </div>

                             </div>

                         </div>
                         <div id="charge-divers" class="tab-pane">
                             <div class="row">
                                 <div class="col-lg-12 text-right">
                                     <button class="btn b-button btn-sm btn-bottom"
                                         onclick="createEditChargeDiverse(-1)">
                                         <i class="fa fa-plus fa-x"></i>
                                     </button>
                                 </div>
                             </div>
                             <div class="row">
                                 <div class="col-lg-12">
                                     <table class="table info-table table-striped table-bordered" style="width:100%">
                                         <thead>
                                             <tr>
                                                 <th>Libellé</th>
                                                 <th>NCharge</th>
                                                 <th>UVolume</th>
                                                 <th>Volume</th>
                                                 <th>Période</th>
                                                 <th>Actions</th>
                                             </tr>
                                         </thead>
                                         <tbody id="charge-divers-tbody">

                                         </tbody>
                                     </table>
                                 </div>

                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>