<div class="modal fade" id="info-modal" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center g-text" id="info-title"> <i class="fa fa-info-circle b-icon fa-lg"></i> Suppression Impossible</h4>
      </div>
      <div class="modal-body">
        <div class="alert" role="alert"  style="padding-bottom: 0px;">
          <span id="info-message"></span>
        </div>
        <div class="modal-footer btn-full-right">
          <button type="button" class="btn cancel btn-sm" data-dismiss="modal" id="info-action">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>
