@model Enseignant
@{
    var ListDepartement = ViewBag.ListDepartement;
}
<form id="teacher-form">
    <input type="hidden" name="OldCIN" value="@Model.CIN">
    <input type="hidden" asp-for="Id">
    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-12">
                <label for="">
                    CIN
                    <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="CIN">
                <span class="text-danger" asp-validation-for="CIN"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="">
                    Nom
                    <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="Nom">
                <span class="text-danger" asp-validation-for="Nom"></span>
            </div>
            
            <div class="col-md-6">
                <label for="">
                    Prenom
                    <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="Prenom">
                <span class="text-danger" asp-validation-for="Prenom"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="">Grade</label>
                <select class="form-control" asp-for="Grade">
                    <Option value="PES">PES</Option>
                    <Option value="Assistant">Assistant</Option>
                    <Option value="Maître assistant">Maître assistant</Option>
                    <Option value="Maître de conférence">Maître de conférence</Option>
                    <Option value="Professeur">Professeur</Option>
                </select>
            </div>
            
            <div class="col-md-6">
                <label for="">Statut</label>
                <select class="form-control" asp-for="Statut">
                    <Option value="Permanent">Permanent</Option>
                    <Option value="Contractuel">Contractuel</Option>
                    <Option value="Vacataire">Vacataire</Option>
                    <Option value="Expert">Expert</Option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="">Situation Administrative</label>
                <select class="form-control" asp-for="SituationAdministrative">
                    <Option value="En Activité">En Activité</Option>,
                    <Option value="En Congés">En Congés</Option>
                    <Option value="Détachement">Détachement</Option>
                </select>
            </div>
            
            <div class="col-md-6">
                <label for="">
                    Département
                </label>
                <select class="form-control" asp-for="CodeDepartement">
                    @foreach (var DepartementItem in @ListDepartement)
                    {
                        <option value="@DepartementItem.Code">@DepartementItem.IntituleFr</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="">
                    Email Principal
                     <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="Email1">
                <span class="text-danger" asp-validation-for="Email1"></span>
            </div>
            
            <div class="col-md-6">
                <label for="">Email Secondaire</label>
                <input type="text" class="form-control" asp-for="Email2">
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="">
                    Téléphone 1
                     <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="Telephone1">
                <span class="text-danger" asp-validation-for="Telephone1"></span>
            </div>
            
            <div class="col-md-6">
                <label for="">
                    Téléphone 2
                </label>
                <input type="text" class="form-control" asp-for="Telephone2">
            </div>
        </div>
    </div>

    <div class="modal-footer btn-full-right">
        <button type="reset" class="btn b-button">Annuler</button>
        <button type="button" class="btn b-button" id="submit">
            @if(@Model.Id == 0){ <span> Enregistrer </span> } else{ <span> Modifier </span> }
        </button>
    </div>
</form>