@model SessionSeance
<form id="SessionSeance-form">
    <input type="hidden" name="OldCode" value="@Model.Id">
    <input type="hidden" class="form-control" asp-for="IdSession">
    <span class="text-danger" asp-validation-for="IdSession"></span>
    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="">
                    Désignation
                    <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="Designation">
                <span class="text-danger" asp-validation-for="Designation"></span>
            </div>

            <div class="col-md-6">
                <label for="">
                    HeureDébut
                    <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="HeureDebut">
                <span class="text-danger" asp-validation-for="HeureDebut"></span>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <div class="col-md-6">
                <label for="">
                    DésignAbregée
                    <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="DesignationAbregee">
                <span class="text-danger" asp-validation-for="DesignationAbregee"></span>
            </div>

            <div class="col-md-6">
                <label for="">
                    HeureFin
                    <span class="required-field">*</span>
                </label>
                <input type="text" class="form-control" asp-for="HeureFin">
                <span class="text-danger" asp-validation-for="HeureFin"></span>
            </div>
        </div>
    </div>

    <div class="modal-footer btn-full-right">
        <button type="reset" class="btn b-button">Annuler</button>
        <button type="button" class="btn b-button" id="submitSc">

            <span> Enregistrer </span>

        </button>
    </div>
</form>