@model SessionSeance

<div id="edit-basic" class="tab-pane">
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Désignation</div>
            <div class="profile-info-value">
                <span class="edita ble">@Model.Designation</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">DésignationAbregée</div>
            <div class="profile-info-value">
                <span class="editable">@Model.DesignationAbregee</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">HeureDébut</div>
            <div class="profile-info-value">
                <span class="editable">@Model.HeureDebut</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">HeureFin</div>
            <div class="profile-info-value">
                <span class="editable">@Model.HeureFin</span>
            </div>
        </div>
    </div>
</div>