@model Batiment

<div id="edit-basic" class="tab-pane">
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Code</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Code</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Type</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Nom</span>
            </div>
        </div>
    </div>
</div>