@model SessionJour

<div id="edit-basic" class="tab-pane">
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Id</div>
            <div class="profile-info-value">
                <span class="edita ble">@Model.Id</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">IdSession</div>
            <div class="profile-info-value">
                <span class="editable">@Model.IdSession</span>
            </div>
        </div>
    </div>

    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">Jour</div>
            <div class="profile-info-value">
                <span class="editable">@Model.Jour</span>
            </div>
        </div>
    </div>
</div>