<input type="hidden" id="CodeAnneeUniv">
<div class="modal fade" id="archive-annee">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title text-center g-text" id="info-title">Archiver Annéee Universitaire</h4>
      </div>
      <div class="modal-body">
        <div class="alert" role="alert"  style="padding-bottom: 0px;">
          <span id="info-message">
              Vous êtes sur le point d'archiver cette année universitaire.
              Suite à cette opération L'année universitaire ne pourrait qu'être consulter, aucune modification ne sera possible 
          </span>
        </div>
        <div class="modal-footer btn-full-right">
          <button type="button" class="btn cancel btn-sm" data-dismiss="modal" id="info-action">Annuler</button>
          <button type="button" class="btn  b-button btn-sm"  onclick="Archive()">Archiver</button>
        </div>
      </div>
    </div>
  </div>
</div>
